/*========================================================================*/

/* ///////////////////////////////////////////////////////////////////// 
// 03 - Preloader
/////////////////////////////////////////////////////////////////////*/

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 background: transparent;
}


::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #188c91;
    border-radius: 10px;
}

.hero-navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  height: 8%;
}

.hero-navbar img{
  width: 44px;
  border-radius: 50%;
}

.hero-navbar ol{
  display: flex;
  list-style: decimal-leading-zero;
  gap: 32px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.hero-navbar ol li{
  color: #2E7869 !important;
}
.hero-navbar ol li a{
    position: relative;
    text-decoration: none !important;
    color: #ffffff;
}

.blogs-li{
    color: #ff7518 !important;
    border: 1px solid #307A6B;
    border-radius: 2px;
    margin: 0 10px;
    padding: 2px 5px;
    text-decoration: none !important;
    font-size: 13px;
 }


.hero{
    position: relative; 
    height: 100vh;
    width: 100%;
}

.hero::before{
  content: "";
  background-image: url('../img/alternative-background.png');
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.hero-container{
  width: 85%;
  height: 92%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.hero-left{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px
}

.hero-title{
  opacity: 0.65;
}
  
.hero-title span{
    position: relative;
    color: #fafafa;
    background-color: #00947c;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    animation-name: slide-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    left: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

.hero-title h1{
  position: relative;
  color: #ffffff;  
  font-size: 8rem;
}

.hero-title h4{
  position: relative;
  color: #ffffff;  
  font-size: 3rem;
  font-family: 'cursive sans-serif';
}

.hero-info{
  list-style: none;
  color: #ff7518;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-info li{
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}

.hero-info li a{
  color: #ffffff;
  text-decoration: none !important;
}

.resume-a{
    color: #ff7518 !important;
    border: 1px solid #307A6B;
    border-radius: 2px;
    margin: 2px 0 0 0px;
    padding: 2px 4px;
    text-decoration: none !important;
 }

.hero-right{
  padding: 10px;
  position: relative;
  text-align: center;
}

.hero-right img{
  width: 65%;
  background-size: cover;
  border: 17px solid #a3a4a3;
  border-radius: 50%;
}


@media screen and (max-width: 768px){
  .hero-left{margin-top: -20rem;}
  .hero-left h1{font-size: 2.5em;}
  .hero-left h4{font-size: 1.8em;}
}

.about{
 width: 100%;
 margin: 0 auto;
 padding: 2% 15%;
 height: 280px;
 background: #91912a;
}
